@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Mitr:wght@300;400&display=swap');

@layer base {
  body {
    background-color: #FAF9F6;
    font-family: 'Mitr', sans-serif;
    font-weight: 300; /* ใช้ความหนา Light/Normal */
  }
  
  /* ป้องกันข้อความเอียง และตั้งค่าความหนาของหัวข้อให้ดูคลีน */
  * {
    font-style: normal !important; 
  }
  
  h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 400;
  }

  /* ใช้ Chakra Petch สำหรับตัวเลข ข้อมูลสถิติ และกราฟ */
  .font-serif, .recharts-wrapper {
    font-family: 'Chakra Petch', sans-serif !important;
    font-weight: 300;
  }
}

.card-detail {
  display: none;
  /* จัดการ animation หรือ transition ตามต้องการ */
}

.group:hover .card-detail {
  display: block;
}